<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">My Application</a>
      </div>
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="dashboard">Home</a></li>
        <li *ngIf="authority === 'user'" class="nav-item">
          <a class="nav-link" routerLink="user">Users</a>
        </li>
        <li *ngIf="!authority" class="nav-item">
          <a class="nav-link" routerLink="auth/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>