<div class="container">
  <div class="text-center">
    <span class="lead">
      <form class="form-signin" id="form_login" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>
        <img class="mb-4" src="https://angular.io/assets/images/logos/angular/angular.png" alt="" width="100"
          height="100">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Login</label>
        <input type="email" id="username" class="form-control" placeholder="Login" class="form-control" name="username"
          [(ngModel)]="form.username" #username="ngModel" required autofocus="">
        <div *ngIf="f.submitted && username.invalid">
          <div class="alert alert-danger" *ngIf="username.errors.required">Login is required</div>
        </div>
        <label for="password" class="sr-only">Password</label>
        <input name="password" type="password" id="password" class="form-control" placeholder="Password"
          [(ngModel)]="form.password" #password="ngModel" required minlength="4">
        <div *ngIf="f.submitted && password.invalid">
          <div class="alert alert-danger" *ngIf="password.errors.required">Password is required</div>
          <div class="alert alert-danger" *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
        <a href="#" (click)="changeLanguage('ru')"><span class="flag-icon flag-icon-ru"> </span> </a>
        <a href="#" (click)="changeLanguage('en')"><span class="flag-icon flag-icon-us"> </span> </a>
      </form>
    </span>
  </div>
</div>